<div class="page-header">
  <h1>Fanno Flow</h1>
</div>

<form name="fanno_form">
	
	<label for="m_in">Mach Number</label>
	<div class="input">
		<input type="text" name="m_in" value="1" size="12" maxlength="12">
	</div>
	
	<label for="gamma_in">Gamma</label>
	<div class="input">
		<input type="text" name="gamma_in" value="1.4" size="12" maxlength="12">
	</div>
	
	<div class="actions">
		<input type=button value="Calculate" class="btn primary" onClick="fanno()";>
	</div>
	
	<h3>Results</h3>
	
	<div class="row">
		<div class="span5">
			<table>
				<thead>
					<tr>
						<th>Ratio</th>
						<th>Value</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>$ \frac{P}{P^{*}} $</td>
						<td><div id="p_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{\rho}{\rho^{*}} $</td>
						<td><div id="rho_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{T}{T^{*}} $</td>
						<td><div id="t_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{U}{U^{*}} $</td>
						<td><div id="u_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{P_0}{(P_0)^{*}} $</td>
						<td><div id="po_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{4 F L^{*}}{D_h} $</td>
						<td><div id="fanno_param">-</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>

<h5><%= link_to "Equations", "https://s3.amazonaws.com/EngineeringCalc/Fanno.pdf"%></h5>