<div class="page-header">
  <h1>Engineering Calculators</h1>
</div>

<h2>Gas Dynamics</h2>
<ul>
	<li><%= link_to "Isentropic Flow", isentropic_path %></li>
	<li><%= link_to "Normal Shock", normal_shock_path %></li>
	<li><%= link_to "Fanno Flow", fanno_path %></li>
	<li><%= link_to "Rayleigh Flow", rayleigh_path %></li>
	<li><%= link_to "Oblique Shock", oblique_path %></li>
	<li><%= link_to "Prandtl-Meyer", prandtlmeyer_path %></li>
</ul>