<div class="page-header">
  <h1>Isentropic Flow</h1>
</div>

<form name="isentropic_form">
	
	<label for="m_in">Mach Number</label>
	<div class="input">
		<input type="text" name="m_in" value="1" size="12" maxlength="12">
	</div>
	
	<label for="gamma_in">Gamma</label>
	<div class="input">
		<input type="text" name="gamma_in" value="1.4" size="12" maxlength="12">
	</div>
	
	<div class="actions">
		<input type=button value="Calculate" class="btn primary" onClick="isentropic_flow()";>
	</div>
	
	<div class="row">
		
		<div class="span5">
			<h3>Results</h3>
			<table>
				<thead>
					<tr>
						<th>Ratio</th>
						<th>Value</th>
					</tr>
				</thead>
			
				<tbody>
					<tr>
						<td>$ \frac{T}{T_0} $</td>
						<td><div id="ratio_t">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{P}{P_0} $</td>
						<td><div id="ratio_p">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{\rho}{\rho_0} $</td>
						<td><div id="ratio_rho">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{A}{A^{*}} $</td>
						<td><div id="ratio_a">-</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>

<h5><%= link_to "Equations", "https://s3.amazonaws.com/EngineeringCalc/Isentropic.pdf"%></h5>