<div class="page-header">
  <h1>Normal Shock</h1>
</div>

<form name="normal_shock_form">
	
	<label for="mx_in">Mach Number X</label>
	<div class="input">
		<input type="text" name="mx_in" value="1" size="12" maxlength="12">
	</div>
	
	<label for="gamma_in">Gamma</label>
	<div class="input">
		<input type="text" name="gamma_in" value="1.4" size="12" maxlength="12">
	</div>
	
	<div class="actions">
		<input type=button value="Calculate" class="btn primary" onClick="normal_shock()";>
	</div>
	
	<h3>Results</h3>
	
	<div class="row">
		<div class="span5">
			<table>
				<thead>
					<tr>
						<th>Ratio</th>
						<th>Value</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>$ m_y $</td>
						<td><div id="my">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{P_y}{P_x} $</td>
						<td><div id="py_px">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{\rho_y}{\rho_x} $</td>
						<td><div id="rhoy_rhox">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{T_y}{T_x} $</td>
						<td><div id="ty_tx">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{P_0y}{P_0x} $</td>
						<td><div id="poy_pox">-</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>

<h5><%= link_to "Equations", "https://s3.amazonaws.com/EngineeringCalc/NormalShock.pdf"%></h5>