<div class="page-header">
  <h1>Prandtl-Meyer</h1>
</div>

<form name="prandtl_form">
	
	<label for="mx_in">Mach Number</label>
	<div class="input">
		<input type="text" name="mx_in" value="1" size="12" maxlength="12">
	</div>
	
	<label for="turning_in">Turning Angle</label>
	<div class="input">
		<input type="text" name="turning_in" value="1" size="12" maxlength="12">
	</div>
	
	<label for="gamma_in">Gamma</label>
	<div class="input">
		<input type="text" name="gamma_in" value="1.4" size="12" maxlength="12">
	</div>
	
	<div class="input">
  	<ul class="inputs-list">
    	<li>
      	<label>
        	<input type="radio" name="optionsPrandtl" value="1" checked="checked" />
          	<span>Isentropic Compression</span>
        </label>
      </li>

      <li>
      	<label>
        	<input type="radio" name="optionsPrandtl" value="2" />
        	<span>Isentropic Expansion</span>
       	</label>
			</li>
		</ul>
 	</div>

	<div class="actions">
		<input type=button value="Calculate" class="btn primary" onClick="prandtl()";>
	</div>
	
	<h3>Results</h3>
	
	<div class="row">
		<div class="span5">
			<table>
				<thead>
					<tr>
						<th>Ratio</th>
						<th>Value</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>$ \frac{T_y}{T_x} $</td>
						<td><div id="t_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{P_y}{P_x} $</td>
						<td><div id="p_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ \frac{\rho_y}{\rho_x} $</td>
						<td><div id="rho_ratio">-</div></td>
					</tr>
					<tr>
						<td>$ m_y $</td>
						<td><div id="my">-</div></td>
					</tr>
					<tr>
						<td>$ \nu_x $</td>
						<td><div id="nux">-</div></td>
					</tr>
					<tr>
						<td>$ \nu_y $</td>
						<td><div id="nuy">-</div></td>
					</tr>
					<tr>
						<td>$ \mu_x $</td>
						<td><div id="mux">-</div></td>
					</tr>
					<tr>
						<td>$ \mu_y $</td>
						<td><div id="muy">-</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>

<h5><%= link_to "Equations", "https://s3.amazonaws.com/EngineeringCalc/Prandtl.pdf"%></h5>