<!DOCTYPE html>
<html>
	<head>
	  <title>Engineering Calculator | <%= @title %></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	 	<%= stylesheet_link_tag    "application" %>
	 	<%= javascript_include_tag "application" %>
	 	<%= csrf_meta_tags %>
		<%= metamagic :title => "Engineering Calculator", :description => "Calculates various Engineering Problems", :keywords => %w(Engineering Calculator) %>
	
		<script type="text/javascript"
		  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
		
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-10268398-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	
	<body>
		<div class="topbar-wrapper" style="z-index: 5;">
			<div class="topbar" data-dropdown="dropdown">
		   	<div class="topbar-inner">
	     		<div class="container">
						<a class="brand" href="/">Engineering Calculator</a>
	          <ul class="nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">Gas Dynamics</a>
							  <ul class="dropdown-menu">
							  	<li><%= link_to "Isentropic Flow", isentropic_path %></li>
									<li><%= link_to "Normal Shock", normal_shock_path %></li>
									<li><%= link_to "Fanno Flow", fanno_path %></li>
									<li><%= link_to "Rayleigh Flow", rayleigh_path %></li>
									<li><%= link_to "Oblique Shock", oblique_path %></li>
									<li><%= link_to "Prandtl-Meyer", prandtlmeyer_path %></li>
								</ul>
							</li>
						</ul>
					</div>
	 			</div>
	    </div>
		</div>
		
		<div class="container">
			<div class="content">
				<div class="gplus">
					<g:plusone></g:plusone>
				</div>
				<%= yield %>
			</div>

			<footer>
				<p>&copy; Muntaner Software 2011</p>
			</footer>
		</div>
	</body>
</html>
